/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.info {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px 10px;
  text-align: center;
  font-weight: 500;
}

.info p {
  text-align: center;
  margin: 0;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.label {
  border-radius: 4px;
  width: 272px;
  height: 35px;
}

.btn {
  font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background-color: #1d72b8;
    line-height: 150%;
    letter-spacing: 0.04em;
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
}

.gallery {
  justify-content: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}

.gallery__item {
  border-radius: 4px;
  border: 2px solid black;
  width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.gallery__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #ccc;
  border-top: 6px solid #1d72b8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  z-index: 100;
}

.loader-hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}